body,
html,
div {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

a {
    text-decoration: inherit;
    color: #007AFF;
}

/* Classes */

.large-header {
    font-size: 3em;
}

.vertically-centered {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.horizontally-centered {
    text-align: center;
}