[submodule "modules/Hood"]
	path = modules/Hood
	url = https://github.com/ghking/Hood.git
[submodule "modules/Pull-Request-Templater"]
	path = modules/Pull-Request-Templater
	url = https://github.com/ghking/Pull-Request-Templater.git
[submodule "modules/Privacy-Policy"]
	path = modules/Privacy-Policy
	url = https://github.com/ghking/Privacy-Policy.git
