[submodule "modules/Terms-Of-Service"]
	path = modules/Terms-Of-Service
	url = https://github.com/ghking/Terms-Of-Service.git
[submodule "modules/Privacy-Policy"]
	path = modules/Privacy-Policy
	url = https://github.com/ghking/Privacy-Policy.git
[submodule "modules/Security-Policy"]
        path = modules/Security-Policy
        url = https://github.com/ghking/Security-Policy.git
