body, html, div {
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
}

body
{
    max-width: 640px;
    margin: auto;
    padding: 16px;
}
